@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fffbff;
    --foreground: #1d1b16;

    --muted: #dfd9d0;
    --muted-foreground: #4b4739;

    --popover: #fff9ef;
    --popover-foreground: #1d1b16;

    --card: #fff9ef;
    --card-foreground: #1d1b16;

    --border: #7c7767;
    --input: #7c7767;

    --primary: #6f5d00;
    --primary-foreground: #ffffff;

    --secondary: #675e40;
    --secondary-foreground: #ffffff;

    --accent: #44664e;
    --accent-foreground: #ffffff;

    --destructive: #ba1a1a;
    --destructive-foreground: #ffffff;

    --ring: #cdc6b4;

    --radius: 0.5rem;
  }

  .dark {
    --background: #1d1b16;
    --foreground: #e8e2d9;

    --muted: #3b3933;
    --muted-foreground: #cbc6bd;

    --popover: #15130e;
    --popover-foreground: #cbc6bd;

    --card: #15130e;
    --card-foreground: #cbc6bd;

    --border: #969080;
    --input: #969080;

    --primary: #e8c400;
    --primary-foreground: #3a3000;

    --secondary: #d2c6a1;
    --secondary-foreground: #373016;

    --accent: #aad0b2;
    --accent-foreground: #153722;

    --destructive: #ffb4ab;
    --destructive-foreground: #690005;

    --ring: 0 0% 14.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
